/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* default */
.like-icon .contur {
  fill: var(--heart-contour-color, #000000);
  transition: fill 0.1s linear;
}

.like-icon .main-body {
  fill: var(--background-color, #ffffff);
  transition: fill 0.3s linear;
}

.like-icon .core {
  fill: var(--background-color, #ffffff);
  transition: fill 0.3s linear 0.03s;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon .sparks {
  opacity: 0;
}

/* hover */
.like-icon:hover .core {
  fill: var(--heart-contur-color, #000000);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-contur-color, #000000);
  transition: fill 0.3s linear 0.05s;
}

/* active */
.like-icon:active .core {
  fill: var(--heart-core-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-main-body-color, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

/* liked */
.like-icon.is-liked .core {
  fill: var(--heart-sparks-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-sparks-color, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contur {
  fill: var(--heart-sparks-color, #ff0000);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1 alternate;
}

@keyframes heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}