/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* filters */


/* page */
.page {
  padding-block-start: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--text-color, #000000);
  font-family: var(--main-font-family, "Inter", sans-serif);
  background-color: var(--background-color, #380d0d);
  background-image: var(
    --background-image-page,
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #e7e7e7, #1a1a1a)
  );
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--main-font-weight, 410);
}

.page__header {
  display: grid;
  justify-items: center;

  margin-inline: auto;
  margin-block-end: 97px;
  background-color: var(--background-color);
  border: 2px solid var(--text-color, #000000);
  inline-size: var(--content-width);
  padding-block-start: clamp(7.6563rem, calc(2.3077vw + 7.1154rem), 8.125rem);
  padding-block-end: clamp(7.6563rem, calc(2.3077vw + 7.1154rem), 8.125rem);
}

.page-title {
  font-size: clamp(3.0625rem, 2.0529rem + 4.0077vw, 3.9375rem);
}

/* header */
.header {
  display: grid;
  justify-items: center;
  justify-content: center;
  font-family: var(--accent-font-family, "PressStart2P", fantasy);
  line-height: normal;
  text-transform: uppercase;
}

.header__title { /*HTML*/
  margin-block-end: 20px;
}

.header__subtitle { /*закрывающий тег*/
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

/* main */
.main {
  display: grid;
  justify-items: center;
  margin: auto;
  inline-size: var(--content-width);
  gap: 50px;
  padding-block-end: 105px;
}

.cards__list {
  display: grid;
  gap: 50px;
}

.card {
  margin-inline: auto;
  background-color: var(--background-color);
  border: 2px solid var(--text-color, #000000);
  display: grid;
  max-inline-size: 700px;
}

.card__img-wrapper {
  position: relative;
  z-index: 0;
}

.card__img-label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: var(--text-color, #000000);
  font-family: var(--accent-font-family, "PressStart2P", sans-serif);
  text-transform: uppercase;
  text-shadow: 0 0 1px var(--text-shadow-color, #ffffff);
  font-size: 14px;
  line-height: normal;
  inset-inline-end: 20px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

.card__header {
  border-block-end: 2px solid var(--text-color, #000000);
  padding: 4px 10px;
}

.card__title {
  font-size: 18px;
  line-height: normal;
  font-variation-settings: "wght" var(--header-font-weight, 715);
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__content {
  display: grid;
  gap: 27px;
  border-block-start: 2px solid var(--text-color, #000000);
  padding: 25px 30px 0 25px;
  font-size: 18px;
  line-height: calc(21 / 18);
}

.card__footer {
  display: flex;
  justify-content: end;
  align-items: stretch;
  gap: 5px;
  padding: 23px 25px 23px 25px;
}

.card__icon-button {
  display: grid;
  border: 2px solid transparent;
  padding: 0;
  background: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color, #000000);
}

/* button */
.button {
  position: relative;
  z-index: 1;
  border: 2px solid var(--text-color, #000000);
  padding: 10px 36px;
  font-family: var(--accent-font-family, "PressStart2P", sans-serif);
  font-size: 14px;
  text-transform: inherit;
  background: var(--background-color, #ffffff);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color, #000000);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--text-color, #000000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
}

.button__text,
.button__icon {
  color: var(--button-text-color, #ffffff);
  mix-blend-mode: difference;
}

.button__icon {
  inline-size: 21px;
  block-size: 21px;
}

.like-icon {
  block-size: 36px;
  inline-size: 39px;
}

/* dialog*/
.modal {
  border: 2px solid var(--text-color, #000000);
  padding: 25px 30px;
  color: var(--text-color, #000000);
  font-family: var(--accent-font-family, "PressStart2P", sans-serif);
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--background-color, #ffffff);
  max-inline-size: 353px;
}

.modal[open] {
  display: grid;
  gap: 30px;
}

.modal::backdrop {
  opacity: 0.75;
  background: var(--color-black, #000000);
}

.modal__content {
  display: grid;
  align-items: center;
  grid-template-columns: 39px 1fr;
  gap: 16px;
  font-size: 14px;
}

.modal__icon {
  padding-block-start: 5px;
  inline-size: 39px;
  block-size: 39px;
}

.modal__button {
  inline-size: 100%;
}

/* filters */
.filter-multiple {
  filter: contrast(110%) saturate(150%);
}

.filter-bright {
  filter: brightness(110%) contrast(105%);
}

.filter-blur {
  filter: blur(5px);
}

.filter-hue-rotate {
  filter: hue-rotate(35deg);
}

.filter-grayscale {
  filter: grayscale(40%) brightness(80%) ;
}

.filter-saturate {
  filter: saturate(50%);
}

.filter-invert {
  filter: invert(20%);
}

.filter-sepia {
  filter: sepia(50%);
}

@supports (
  (-webkit-text-stroke: 1px var(--text-shadow-color, #ffffff)) or
    (text-stroke: 1px var(--text-shadow-color, #ffffff))
) {
  .card__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-shadow-color, #ffffff);
    text-stroke: 1px var(--text-shadow-color, #ffffff);
  }
}

@media (width <= 375px) {

  .modal {
    padding: 28px 34px 28px 40px;
    max-inline-size: 340px;
  }

  .button__save {
    flex-direction: column;
  }

  .button__icon {
    block-size: 28px;
    inline-size: 28px;
  }

}
