:root {
/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red:   #ff0000;

  --text-color: var(--color-black, #000000);
  --background-color: var(--color-white, #ffffff);
  --text-shadow-color: var(--color-white, #ffffff);

  --main-font-family: "Inter", sans-serif;
  --main-font-weight: 410;
  --header-font-weight: 715;
  --accent-font-family: "PressStart2P", sans-serif;

  --content-width: clamp(28.125rem, calc(26.3158vw + 20.7237rem), 43.75rem);
  --heart-contur-color:  var(--color-black, #000000);
  --heart-sparks-color:  var(--color-red, #ff0000);
  --heart-main-body-color:  var(--color-red, #ff0000);
  --heart-core-color: var(--color-red, #ff0000);

   --button-text-color: var(--background-color, #fff);

  /* Backgrounds */
  --background-image-page:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}